@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background: #2a2a2a;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

#d-fullpage {
  margin-left: 110px;
}

.d-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background-color: #2a2a2a;
  &_striped {
    background: linear-gradient(90deg, #444444 1px, #444444 1px, rgba(0, 0, 0, 0) 0) #2a2a2a !important;
    background-size: 33% auto !important;
  }
  &_page {
    height: auto;
    overflow: visible;
  }
  &_x {
    &_start {
      align-items: flex-start;
    }
    &_end {
      align-items: flex-end;
    }
    &_center {
      align-items: center;
    }
  }
  &_y {
    &_start {
      justify-content: flex-start;
    }
    &_end {
      justify-content: flex-end;
    }
    &_center {
      justify-content: center;
    }
  }
  &_padding {
    &_20 {
      padding: 20px;
    }
    &_40 {
      padding: 40px;
    }
    &_50 {
      padding: 60px;
    }
    &_60 {
      padding: 60px;
    }
    &_80 {
      padding: 80px;
    }
    &_100 {
      padding: 100px;
    }
  }
}

.d-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 30px 10px 30px 0;
  border-right: 1px solid #444444;
  overflow-y: auto;
  background: #2a2a2a;
  z-index: 99;
  &__toggle {
    display: block;
    padding: 10px;
    img {
      max-width: 100%;
    }
    cursor: pointer;
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    filter: brightness(0) invert(100%);
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:focus {
      -webkit-filter: brightness(1) invert(0) !important;
      -moz-filter: brightness(1) invert(0) !important;
      -ms-filter: brightness(1) invert(0) !important;
      -o-filter: brightness(1) invert(0) !important;
      filter: brightness(1) invert(0) !important;
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__call {
    display: block;
    padding: 10px;
    img {
      max-width: 100%;
    }
    cursor: pointer;
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    filter: brightness(0) invert(100%);
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:focus {
      -webkit-filter: brightness(1) invert(0) !important;
      -moz-filter: brightness(1) invert(0) !important;
      -ms-filter: brightness(1) invert(0) !important;
      -o-filter: brightness(1) invert(0) !important;
      filter: brightness(1) invert(0) !important;
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.d-top {
  &__title {
    display: block;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: 0 0 15px #19e6ee;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.5px;
  }
  &__sub-title {
    display: block;
    margin-bottom: 260px;
    opacity: 0.54;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.8px;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1050px;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
    img {
      max-width: 100%;
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75px;
      margin-bottom: 30px;
    }
    &-title {
      display: block;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.d-sec {
  display: block;
  width: 100%;
  max-width: 1170px;
  &>.d-sec__row:first-child {
    margin-bottom: 100px;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &>div:first-child {
      width: 600px;
    }
    &>div:last-child {
      width: 480px;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    box-shadow: 0 16px 68px 8px rgba(0, 0, 0, 0.13);
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33;
  }
  &__title {
    display: block;
    /* margin-bottom: 55px; */
    color: #19e6ee;
    font-size: 24px;
    font-weight: 300;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin-bottom: 35px;
      padding-left: 32px;
      background: url('../images/icon_check.png') no-repeat left center;
      background-size: contain;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 335px;
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 50px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      p {
        margin: 0;
        margin-left: 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
      }
    }
    input[type='text'] {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 18px 0;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #ffffff;
      background-color: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:focus {
        border-color: #19e6ee;
      }
    }
    &-button {
      display: block;
      width: 100%;
      padding: 22px;
      border: 0;
      outline: 0;
      background-color: rgba(25, 231, 238, 0.2);
      border-bottom: 2px solid #19e6ee;
      color: #19e6ee;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #ffffff;
        color: #ffffff;
      }
    }
  }
}

.d-title {
  display: block;
  margin-bottom: 70px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
}

.d-how {
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 325px;
    margin-bottom: 140px;
    &:first-child {
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 174px;
        height: 14px;
        top: 75px;
        left: 100%;
        margin-left: -150px;
        background: url('../images/how_after_1.png') no-repeat center;
        background-size: contain;
      }
    }
    &:nth-child(2) {
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 174px;
        height: 14px;
        top: 75px;
        left: 100%;
        margin-left: -150px;
        background: url('../images/how_after_2.png') no-repeat center;
        background-size: contain;
      }
    }
    &:nth-child(4) {
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 174px;
        height: 14px;
        top: 75px;
        left: 100%;
        margin-left: -150px;
        background: url('../images/how_after_4.png') no-repeat center;
        background-size: contain;
      }
    }
    &:nth-child(5) {
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 175px;
        height: 158px;
        bottom: 100%;
        margin-left: 325px;
        margin-bottom: -90px;
        background: url('../images/how_after_3.png') no-repeat center;
        background-size: contain;
      }
    }
    &-img {
      display: block;
      width: 100%;
      height: 70px;
      margin-bottom: 40px;
    }
    &-number {
      display: block;
      margin-bottom: 12px;
      color: #19e6ee;
      font-size: 18px;
      font-weight: 400;
    }
    &-title {
      display: block;
      margin-bottom: 18px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }
    &-text {
      display: block;
      max-width: 260px;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
    }
  }
}

.d-result {
  &__cards {
    display: block;
    .slick-prev {
      width: 100px;
      height: 14px;
      top: 100%;
      left: 0;
      margin-top: 60px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        -webkit-filter: brightness(0) invert(100%);
        -moz-filter: brightness(0) invert(100%);
        -ms-filter: brightness(0) invert(100%);
        -o-filter: brightness(0) invert(100%);
        filter: brightness(0) invert(100%);
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
    .slick-next {
      width: 100px;
      height: 14px;
      top: 100%;
      right: auto;
      left: 130px;
      margin-top: 60px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        -webkit-filter: brightness(0) invert(100%);
        -moz-filter: brightness(0) invert(100%);
        -ms-filter: brightness(0) invert(100%);
        -o-filter: brightness(0) invert(100%);
        filter: brightness(0) invert(100%);
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
  }
  &__card {
    display: block;
    margin-left: 1px;
    margin-right: 20px;
    img {
      max-width: 100%;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -ms-filter: grayscale(1);
      -o-filter: grayscale(1);
      filter: grayscale(1);
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    &-title {
      display: block;
      margin-bottom: 46px;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
    }
    &-link {
      display: block;
      color: #19e6ee;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
      }
    }
    p {
      display: block;
      margin-bottom: 40px;
      opacity: 0.5;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }
}

.d-team {
  &__cards {
    display: block;
    width: 100%;
    margin-top: 30px;
    .slick-prev {
      display: none !important;
      width: 100px;
      height: 14px;
      top: 120%;
      left: 0;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        -webkit-filter: brightness(0) invert(100%);
        -moz-filter: brightness(0) invert(100%);
        -ms-filter: brightness(0) invert(100%);
        -o-filter: brightness(0) invert(100%);
        filter: brightness(0) invert(100%);
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
    .slick-next {
      width: 100px;
      height: 14px;
      top: 50%;
      right: 0;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        -webkit-filter: brightness(0) invert(100%);
        -moz-filter: brightness(0) invert(100%);
        -ms-filter: brightness(0) invert(100%);
        -o-filter: brightness(0) invert(100%);
        filter: brightness(0) invert(100%);
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
  }
  &__card {
    display: block;
    width: 100%;
    max-width: 325px;
    text-align: center;
    &-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 35px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &-name {
      display: block;
      margin-bottom: 12px;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
    }
    &-who {
      display: block;
      margin: 0;
      opacity: 0.29;
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }
  }
}

.d-companies {
  &__cards {
    display: block;
    .slick-prev {
      width: 100px;
      height: 14px;
      top: 100%;
      left: 0;
      margin-top: 40px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        -webkit-filter: brightness(0) invert(100%);
        -moz-filter: brightness(0) invert(100%);
        -ms-filter: brightness(0) invert(100%);
        -o-filter: brightness(0) invert(100%);
        filter: brightness(0) invert(100%);
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
    .slick-next {
      width: 100px;
      height: 14px;
      top: 100%;
      right: auto;
      left: 130px;
      margin-top: 40px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        -webkit-filter: brightness(0) invert(100%);
        -moz-filter: brightness(0) invert(100%);
        -ms-filter: brightness(0) invert(100%);
        -o-filter: brightness(0) invert(100%);
        filter: brightness(0) invert(100%);
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 237px;
    margin-bottom: 35px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: #2a2a2a;
    img {
      max-width: 100%;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -ms-filter: grayscale(1);
      -o-filter: grayscale(1);
      filter: grayscale(1);
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    &-double {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.d-footer {
  display: block;
  width: 100%;
  max-width: 380px;
  &__title {
    display: block;
    margin-top: 10px;
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.8px;
  }
  &__sub-title {
    display: block;
    margin-bottom: 35px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.8px;
  }
  &__place {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    p {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
    }
    img {
      display: inline-block;
      margin-right: 25px;
    }
  }
  &__phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    p {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
    }
    img {
      display: inline-block;
      margin-right: 25px;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__for-link {
    display: block;
    max-width: 290px;
    margin-bottom: 22px;
  }
  &__link {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__politic {
    display: inline-block;
    margin-top: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 1.0);
    opacity: 0.3;
    color: #fffffe;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      border-color: transparent;
      color: #fffffe;
      text-decoration: none;
    }
  }
}

.d-map {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%) invert(100%);
  -moz-filter: grayscale(100%) invert(100%);
  -ms-filter: grayscale(100%) invert(100%);
  -o-filter: grayscale(100%) invert(100%);
  filter: grayscale(100%) invert(100%);
}

.d-services {
  display: block;
  width: 100%;
  max-width: 960px;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 26px;
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin-bottom: 14px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        &:before {
          display: block;
          content: '·';
          position: absolute;
          left: 0;
          top: 0;
          margin-left: -15px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  &__big {
    display: block;
    width: 100%;
    max-width: 535px;
    padding: 40px 40px 10px 56px;
    box-shadow: 7px 55px 87px rgba(0, 0, 0, 0.25);
    background-color: #2a2a2a;
    border-bottom: 4px solid #19e6ee;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &-price {
      display: block;
      margin-bottom: 34px;
      color: #ffffff;
      font-weight: 700;
      font-size: 36px;
    }
    &:hover {
      background-color: #19e6ee !important;
      color: #000000 !important;
      .d-services__big-price {
        color: #000000 !important;
      }
      .d-services__small-price {
        color: #000000 !important;
      }
      ul {
        li {
          color: #000000 !important;
          &:before {
            color: #000000 !important;
          }
        }
      }
    }
  }
  &__small {
    display: block;
    width: 100%;
    height: 175px;
    padding: 25px 40px 10px 56px;
    overflow: hidden;
    box-shadow: 7px 55px 87px rgba(0, 0, 0, 0.25);
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &-price {
      display: block;
      margin-bottom: 20px;
      color: #ffffff;
      font-weight: 700;
      font-size: 23px;
    }
    &_colored {
      background-color: #19e6ee !important;
      color: #000000 !important;
      .d-services__small-price {
        color: #000000 !important;
      }
      ul {
        li {
          color: #000000 !important;
          &:before {
            color: #000000 !important;
          }
        }
      }
    }
    &:hover {
      background-color: #19e6ee !important;
      color: #000000 !important;
      .d-services__small-price {
        color: #000000 !important;
      }
      ul {
        li {
          color: #000000 !important;
          &:before {
            color: #000000 !important;
          }
        }
      }
    }
  }
}

.d-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 110px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
  &__block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 305px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2a2a2a;
  }
  &__header {
    display: block;
    padding: 40px 10px 36px 25px;
  }
  &__title {
    display: block;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  &__sub-title {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 9px;
    font-weight: 300;
    line-height: 1.71;
    text-transform: uppercase;
    /* Text style for "Агентство" */
    letter-spacing: 1.9px;
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: inline-block;
        position: relative;
        max-width: 100%;
        padding: 10px 22px 10px 25px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 999rem;
          height: 1px;
          left: 200%;
          top: 49%;
          background: transparent;
          transition: all 0.15s ease-out;
        }
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #19e6ee;
          text-decoration: none;
          &:after {
            left: 100%;
            background: #19e6ee;
          }
        }
      }
    }
  }
  &__info {
    display: block;
    padding: 25px 10px 45px 25px;
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 22px;
        img {
          max-width: 100%;
        }
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          color: #19e6ee;
          text-decoration: none;
        }
      }
    }
  }
  &__adress {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    font-weight: 300;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__email {
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #19e6ee;
      text-decoration: none;
    }
  }
  &__footer {
    display: block;
    width: 100%;
    padding: 16px 10px 26px 25px;
    border-top: 1px solid #444444;
    &-number {
      display: block;
      margin-bottom: 8px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #19e6ee;
        text-decoration: none;
      }
    }
    &-link {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #19e6ee;
        text-decoration: none;
      }
    }
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 0;
  background: #19e6ee;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  border-radius: 0;
}

.item {
  outline: 0 !important;
}

.d-scroll {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 20px;
  height: 28px;
  margin-left: -10px;
  background: url('../images/icon_scroll.png') no-repeat center;
  background-size: contain;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    text-decoration: none;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
    transform: translateY(10px);
  }
}

.d-gradient_anim {
  background: linear-gradient(217deg, #2a2a2a, #097377) !important;
  background-size: 400% 400% !important;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 93% 0%
    }
    50% {
      background-position: 0% 100%
    }
    100% {
      background-position: 93% 0%
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 93% 0%
    }
    50% {
      background-position: 0% 100%
    }
    100% {
      background-position: 93% 0%
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 93% 0%
    }
    50% {
      background-position: 0% 100%
    }
    100% {
      background-position: 93% 0%
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 93% 0%
    }
    50% {
      background-position: 0% 100%
    }
    100% {
      background-position: 93% 0%
    }
  }
}