@media (max-width: 1399px) {
  .d-sec > .d-sec__row:first-child {
    margin-bottom: 30px;
  }
  .d-how__card {
    margin-bottom: 20px;
  }
  .d-title {
    margin-bottom: 25px;
  }
  .d-how__card-img {
    margin-bottom: 15px;
  }
  .d-companies__card {
    width: 200px;
    height: 200px;
  }
  .d-footer__politic {
    margin-top: 25px;
  }
}

@media (max-width: 1199px) {
  .d-scroll {
    display: none;
  }
  .d-nav {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 10px;
    bottom: auto;
    border-bottom: 1px solid #444444;
  }
  #d-fullpage {
    margin-left: 0;
    margin-top: 50px;
  }
  .d-section {
    height: auto !important;
  }
  .d-menu {
    margin-top: 48px;
    padding-left: 0;
    overflow-y: auto;
  }
  .d-menu__header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .d-menu__info {
    padding-bottom: 20px;
  }
  .d-menu__footer {
    padding-bottom: 60px;
  }
  .d-top__title {
    font-size: 32px;
    text-align: center;
  }
  .d-top__sub-title {
    margin-bottom: 60px;
    font-size: 20px;
    text-align: center;
  }
  .fp-tableCell {
    height: auto !important;
  }
  .fp-section.fp-table,
  .fp-slide.fp-table {
    height: auto !important;
  }
  .d-top__card-img {
    margin-bottom: 10px;
  }
  .d-top__cards {
    justify-content: space-around;
  }
  .d-top__card {
    margin-bottom: 20px;
  }
  .d-sec__img {
    display: block;
    margin-bottom: 20px;
  }
  .d-sec>.d-sec__row:first-child {
    margin-bottom: 30px;
  }
  .d-sec__title {
    margin-bottom: 20px;
  }
  .d-title {
    margin-bottom: 30px;
  }
  .d-how__card-img {
    margin-bottom: 15px;
  }
  .d-how__card {
    margin-bottom: 30px !important;
    &:after {
      display: none !important;
    }
  }
  .d-result__card-title {
    margin-bottom: 20px;
  }
  .d-result__card p {
    margin-bottom: 20px;
  }
  .d-result__card-link {
    margin-bottom: 20px;
  }
  .d-services__big {
    margin-bottom: 25px;
    padding: 20px 30px;
  }
  .d-services__small {
    padding: 20px 30px;
  }
  .d-services__big-price {
    margin-bottom: 20px;
  }
  .d-companies__cards .slick-next {
    margin-top: 12px;
  }
  .d-companies__cards .slick-prev {
    margin-top: 12px;
  }
  .d-result__cards .slick-next {
    margin-top: 12px;
  }
  .d-result__cards .slick-prev {
    margin-top: 12px;
  }
  .d-footer__politic {
    margin-top: 40px;
  }
  .d-map {
    height: 400px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}